.speech {
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    color: black;
}


.first{
    color:blue;
    
    
}
.second{
    color:brown;
    

  
    
}
.third{
    color:green;
    
}
.fouth{
    color:black;
    
}
